<?xml version="1.0" encoding="UTF-8"?>
<plugin xmlns="http://www.urbancode.com/PluginXMLSchema_v1"
        xmlns:server="http://www.urbancode.com/PluginServerXMLSchema_v1"
        xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance">
  <header>
    <identifier id="com.ibm.ucd.props.custom" version="@API_VERSION@" name="Custom Properties Utilities"/>
    <description>Custom properties utilities. Reads file to property and writes property to file</description>
    <tag>Custom Utilities/Properties</tag>
  </header>

  <step-type name="Read File">
    <description>Reads file content into one property</description>
    <properties>
      <property name="filename" required="true">
        <property-ui type="textBox"
                     label="File Name"
                     description="file name to read"/>
      </property>
    </properties>
    <post-processing>
      <![CDATA[
        if (properties.get("exitCode") != 0) {
            properties.put(new java.lang.String("Status"), new java.lang.String("Failure"));
        }
        else {
            properties.put("Status", "Success");
        }
     ]]>
    </post-processing>

    <command program="${GROOVY_HOME}/bin/groovy">
      <arg value="-cp"/>
      <arg path="classes:lib/groovy-plugin-utils-1.0.jar"/>
      <arg file="readfile.groovy"/>
      <arg file="${PLUGIN_INPUT_PROPS}"/>
      <arg file="${PLUGIN_OUTPUT_PROPS}"/>
    </command>
  </step-type>

  <step-type name="Export to File">
    <description>Write proprty content into file</description>
    <properties>
      <property name="content" required="true">
        <property-ui type="textBox"
                     label="Content"
                     description="property name to set"
                     default-value="${p:?/fileContent}" />
      </property>
      <property name="filename" required="true">
        <property-ui type="textBox"
                     label="File Name"
                     description="file name to write"/>
      </property>
      <property name="charset" required="true">
        <property-ui type="textBox"
                     label="Charset"
                     description="Example: UTF-8, ISO-8859-1, US-ASCII, UTF-16"
                     default-value="UTF-8" />
      </property>
    </properties>
    <post-processing>
      <![CDATA[
        if (properties.get("exitCode") != 0) {
            properties.put(new java.lang.String("Status"), new java.lang.String("Failure"));
        }
        else {
            properties.put("Status", "Success");
        }
     ]]>
    </post-processing>

    <command program="${GROOVY_HOME}/bin/groovy">
      <arg value="-cp"/>
      <arg path="classes:lib/groovy-plugin-utils-1.0.jar"/>
      <arg file="writefile.groovy"/>
      <arg file="${PLUGIN_INPUT_PROPS}"/>
      <arg file="${PLUGIN_OUTPUT_PROPS}"/>
    </command>
  </step-type>

  <step-type name="Merge Properties">
    <description>Merges 2 properties content into 1 (output property: result)</description>
    <properties>
      <property name="property1" required="true">
        <property-ui type="textAreaBox"
                     label="Property 1"
                     description="Content in Properties format"/>
      </property>
      <property name="property2">
        <property-ui type="textAreaBox"
                     label="Property 2"
                     description="Content in Properties format"/>
      </property>
    </properties>
    <post-processing>
      <![CDATA[
        if (properties.get("exitCode") != 0) {
            properties.put(new java.lang.String("Status"), new java.lang.String("Failure"));
        }
        else {
            properties.put("Status", "Success");
        }
     ]]>
    </post-processing>

    <command program="${GROOVY_HOME}/bin/groovy">
      <arg value="-cp"/>
      <arg path="classes:lib/CommonsUtil.jar:lib/groovy-plugin-utils-1.0.jar"/>
      <arg file="mergeprops.groovy"/>
      <arg file="${PLUGIN_INPUT_PROPS}"/>
      <arg file="${PLUGIN_OUTPUT_PROPS}"/>
    </command>
  </step-type>

  <step-type name="Import ComponentEnvProperties">
    <description>Import Component Environment Properties from File</description>
    <properties>
      <property name="filename" required="true">
        <property-ui type="textBox"
                     label="File Name"
                     description="file name to import"/>
      </property>
      <property name="charset" required="true">
        <property-ui type="textBox"
                     label="Charset"
                     description="Example: UTF-8, ISO-8859-1, US-ASCII, UTF-16"
                     default-value="UTF-8" />
      </property>
      <property name="componentId" required="true">
        <property-ui type="textBox"
                     label="Component ID"
                     description="Component ID"
                     default-value="${p:component.id}" />
      </property>
      <property name="environmentId" required="true">
        <property-ui type="textBox"
                     label="Environment ID"
                     description="Environment ID"
                     default-value="${p:environment.id}" />
      </property>
    </properties>
    <post-processing>
      <![CDATA[
        if (properties.get("exitCode") != 0) {
            properties.put(new java.lang.String("Status"), new java.lang.String("Failure"));
        }
        else {
            properties.put("Status", "Success");
        }
     ]]>
    </post-processing>

    <command program="${GROOVY_HOME}/bin/groovy">
      <arg value="-cp"/>
      <arg path="classes:lib/uDeployRestClient.jar:lib/groovy-plugin-utils-1.0.jar"/>
      <arg file="importenvprops.groovy"/>
      <arg file="${PLUGIN_INPUT_PROPS}"/>
      <arg file="${PLUGIN_OUTPUT_PROPS}"/>
    </command>
  </step-type>
  
  <step-type name="Export ComponentEnvProperties">
    <description>Import Component Environment Properties from File</description>
    <properties>
      <property name="filename" required="true">
        <property-ui type="textBox"
                     label="File Name"
                     description="file name to import"/>
      </property>
      <property name="charset" required="true">
        <property-ui type="textBox"
                     label="Charset"
                     description="Example: UTF-8, ISO-8859-1, US-ASCII, UTF-16"
                     default-value="UTF-8" />
      </property>
      <property name="componentId" required="true">
        <property-ui type="textBox"
                     label="Component ID"
                     description="Component ID"
                     default-value="${p:component.id}" />
      </property>
      <property name="environmentId" required="true">
        <property-ui type="textBox"
                     label="Environment ID"
                     description="Environment ID"
                     default-value="${p:environment.id}" />
      </property>
    </properties>
    <post-processing>
      <![CDATA[
        if (properties.get("exitCode") != 0) {
            properties.put(new java.lang.String("Status"), new java.lang.String("Failure"));
        }
        else {
            properties.put("Status", "Success");
        }
     ]]>
    </post-processing>

    <command program="${GROOVY_HOME}/bin/groovy">
      <arg value="-cp"/>
      <arg path="classes:lib/uDeployRestClient.jar:lib/groovy-plugin-utils-1.0.jar"/>
      <arg file="exportenvprops.groovy"/>
      <arg file="${PLUGIN_INPUT_PROPS}"/>
      <arg file="${PLUGIN_OUTPUT_PROPS}"/>
    </command>
  </step-type>
  
  <step-type name="Update ComponentEnvProperties">
    <description>Update Component Environment Properties</description>
    <properties>
      <property name="changedProperties" required="true">
        <property-ui type="textAreaBox"
                     label="Properties"
                     description="Properties to update"/>
      </property>
      <property name="defProperties">
        <property-ui type="textAreaBox"
                     label="Default Properties"
                     description="Default Properties"/>
      </property>
      <property name="componentId" required="true">
        <property-ui type="textBox"
                     label="Component ID"
                     description="Component ID"
                     default-value="${p:component.id}" />
      </property>
      <property name="environmentId" required="true">
        <property-ui type="textBox"
                     label="Environment ID"
                     description="Environment ID"
                     default-value="${p:environment.id}" />
      </property>
    </properties>
    <post-processing>
      <![CDATA[
        if (properties.get("exitCode") != 0) {
            properties.put(new java.lang.String("Status"), new java.lang.String("Failure"));
        }
        else {
            properties.put("Status", "Success");
        }
     ]]>
    </post-processing>

    <command program="${GROOVY_HOME}/bin/groovy">
      <arg value="-cp"/>
      <arg path="classes:lib/uDeployRestClient.jar:lib/groovy-plugin-utils-1.0.jar"/>
      <arg file="updateenvprops.groovy"/>
      <arg file="${PLUGIN_INPUT_PROPS}"/>
      <arg file="${PLUGIN_OUTPUT_PROPS}"/>
    </command>
  </step-type>

  <step-type name="Get Modified ComponentEnvProperties">
    <description>Get Modified Component Environment Properties</description>
    <properties>
      <property name="defProperties">
        <property-ui type="textAreaBox"
                     label="Default Properties"
                     description="Default Properties"/>
      </property>
      <property name="componentId" required="true">
        <property-ui type="textBox"
                     label="Component ID"
                     description="Component ID"
                     default-value="${p:component.id}" />
      </property>
      <property name="environmentId" required="true">
        <property-ui type="textBox"
                     label="Environment ID"
                     description="Environment ID"
                     default-value="${p:environment.id}" />
      </property>
    </properties>
    <post-processing>
      <![CDATA[
        if (properties.get("exitCode") != 0) {
            properties.put(new java.lang.String("Status"), new java.lang.String("Failure"));
        }
        else {
            properties.put("Status", "Success");
        }
     ]]>
    </post-processing>

    <command program="${GROOVY_HOME}/bin/groovy">
      <arg value="-cp"/>
      <arg path="classes:lib/uDeployRestClient.jar:lib/groovy-plugin-utils-1.0.jar"/>
      <arg file="getmodifiedprops.groovy"/>
      <arg file="${PLUGIN_INPUT_PROPS}"/>
      <arg file="${PLUGIN_OUTPUT_PROPS}"/>
    </command>
  </step-type>
  
  <step-type name="Delete ComponentEnvProperties">
    <description>Delete Component Environment Properties</description>
    <properties>
      <property name="toDel" required="true">
        <property-ui type="textAreaBox"
                     label="Properties"
                     description="'ALL' will delete all properties"/>
      </property>
      <property name="componentId" required="true">
        <property-ui type="textBox"
                     label="Component ID"
                     description="Component ID"
                     default-value="${p:component.id}" />
      </property>
      <property name="environmentId" required="true">
        <property-ui type="textBox"
                     label="Environment ID"
                     description="Environment ID"
                     default-value="${p:environment.id}" />
      </property>
    </properties>
    <post-processing>
      <![CDATA[
        if (properties.get("exitCode") != 0) {
            properties.put(new java.lang.String("Status"), new java.lang.String("Failure"));
        }
        else {
            properties.put("Status", "Success");
        }
     ]]>
    </post-processing>

    <command program="${GROOVY_HOME}/bin/groovy">
      <arg value="-cp"/>
      <arg path="classes:lib/uDeployRestClient.jar:lib/groovy-plugin-utils-1.0.jar"/>
      <arg file="deleteenvprops.groovy"/>
      <arg file="${PLUGIN_INPUT_PROPS}"/>
      <arg file="${PLUGIN_OUTPUT_PROPS}"/>
    </command>
  </step-type>
  
  <step-type name="Replace chars">
    <description>Replaces chars in a given string</description>
    <properties>
      <property name="value" required="true">
        <property-ui type="textBox"
                     label="Value"
                     description="Value to Change" />
      </property>
      <property name="input" required="true">
        <property-ui type="textAreaBox"
                     label="Strings to change"
                     description="Strings to change, new line means next input string. For example '[.]'"/>
      </property>
      <property name="output" required="true">
        <property-ui type="textBox"
                     label="Replace by"
                     description="String replaced by"/>
      </property>
    </properties>
    <post-processing>
      <![CDATA[
        if (properties.get("exitCode") != 0) {
            properties.put(new java.lang.String("Status"), new java.lang.String("Failure"));
        }
        else {
            properties.put("Status", "Success");
        }
     ]]>
    </post-processing>

    <command program="${GROOVY_HOME}/bin/groovy">
      <arg value="-cp"/>
      <arg path="classes:lib/uDeployRestClient.jar:lib/groovy-plugin-utils-1.0.jar"/>
      <arg file="replacestring.groovy"/>
      <arg file="${PLUGIN_INPUT_PROPS}"/>
      <arg file="${PLUGIN_OUTPUT_PROPS}"/>
    </command>
  </step-type>
</plugin>
